body {
    background-color: #b8b8b8;
    font-size: 13px;
    line-height: 18px;
    color: #333;
}

#content {
    width: 800px;
    height: 700px;
    padding: 20px 30px;
    margin: 0 auto;
    background-color: #fff;
}
h1 {
    font-size: 26px;
    line-height: 30px;
    color: #333;
    font-weight: normal;
    margin: 30px 0 30px 0;
    text-align: center;
}

h2 {
    font-size: 36px;
    line-height: 46px;
    color: #333;
    font-weight: normal;
    font-style: italic;
    margin: 40px 0 20px 0;
}
#content .fixed {
    position: fixed;
    top: 20px;
    right: 0px;
    width: 200px;
    padding: 20px;
    font-style: italic;
    background-color: #666;
    color: #fff;
}

#content #puzzle {
    position: relative;
    border: 5px solid #333;
    margin: 0 auto;
    height: 461px;
    width: 615px;
    background-image: url("img/v9/v9-watercolor.jpg");
    background-repeat: no-repeat;
}

#puzzle > img {
    position: absolute;
}

#puzzle #img1 {
    top: 0px;
    left: 0px;
}

#puzzle #img2 {
    top: px;
    left: 129px;
}

#puzzle #img3 {
    top: 0px;
    left: 220px;
}

#puzzle #img4 {
    top: 0px;
    left: 368px;
}

#puzzle #img5 {
    top: 0px;
    left: 442px;
}

#puzzle #img6 {
    top: 78px;
    left: 0px;
}

#puzzle #img7 {
    top: 115px;
    left: 94px;
}

#puzzle #img8 {
    top: 85px;
    left: 255px;
}

#puzzle #img9 {
    top: 125px;
    left: 325px;
}

#puzzle #img10 {
    top: 88px;
    left: 479px;
}

#puzzle #img11 {
    top: 247px;
    left: 0px;
}

#puzzle #img12 {
    top: 206px;
    left: 130px;
}

#puzzle #img13 {
    top: 242px;
    left: 221px;
}

#puzzle #img14 {
    top: 201px;
    left: 359px;
}

#puzzle #img15 {
    top: 215px;
    left: 530px;
}

#puzzle #img16 {
    top: 294px;
    left: 0px;
}

#puzzle #img17 {
    top: 331px;
    left: 94px;
}

#puzzle #img18 {
    top: 304px;
    left: 260px;
}

#puzzle #img19 {
    top: 400px;
    left: 352px;
}

#puzzle #img20 {
    top: 390px;
    left: 575px;
}
